@charset "UTF-8";
/*box-shadows*/
/*dégradé*/
/*heart*/
/*heart animé*/
/*keyframes loader*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@keyframes load {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  min-width: 200px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 22px;
}

@media screen and (min-width: 1440px) {
  .container {
    margin: auto;
    max-width: 1440px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: grab;
}

h3,
h4,
p {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  padding: 17px 0 13px 0;
  box-shadow: 0px 2px 2px 1px lightgray;
  position: relative;
}

#logo {
  width: 160px;
  justify-content: center;
  margin: auto;
}

footer {
  position: absolute;
  width: 100%;
  background-color: #000000c7;
  color: white;
  padding: 20px 0 40px 25px;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
}
footer .end {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-top: 10px;
  font-size: 19px;
}
footer .end .fas {
  font-size: 14px;
}
footer .end .fas.fa-utensils {
  margin-right: 15px;
}
footer .end .fas.fa-hands-helping {
  margin-right: 9px;
}

/* SECTION INPUT */
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  padding: 12px 0 12px 15px;
}
.input__icon {
  font-size: 15px;
  padding: 8px 10px;
  color: #000000b8;
}
.input__location {
  width: 153px;
  line-height: 35px;
  font-weight: 700;
  border: none;
  background-color: #f3f3f3;
  font-size: 18px;
  font-family: "Roboto";
  padding-left: 8px;
}
.input__location::placeholder {
  color: #000000b8;
}

/* SECTION INTRO */
.intro {
  text-align: center;
  background-color: #fafafa;
  padding: 5px 0 60px 0;
}
.intro h2 {
  font-size: 30px;
  font-weight: 800;
  margin: 15px 40px;
  font-size: 28px;
}
.intro p {
  font-weight: 300;
  padding: 10px 20px 25px;
  font-size: 16px;
  margin-bottom: 30px;
}
.intro__btn {
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  border: none;
  box-shadow: 0px 2px 2px 2px lightgray;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.intro__btn:hover {
  transform: scale(1.05);
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: load 100ms 3s both;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-bottom: 5px solid #9356dc;
  border-left: 5px solid #ff79da;
  border-right: 5px solid #99e2d0;
  border-radius: 50%;
  border-top: transparent;
  box-shadow: 0px 2px 2px 2px lightgray;
  animation: spinner 1s infinite ease-in-out;
}

.manual {
  counter-reset: steps;
}
.manual h2 {
  margin: 30px;
}
.manual ol {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 0;
}
@media screen and (min-width: 992px) {
  .manual ol {
    flex-direction: row;
    gap: 15px;
  }
}
.manual li {
  flex-grow: 1;
  background-color: #f3f3f3;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  padding: 16px 0;
  margin: 10px;
  box-shadow: 0px 2px 2px 2px lightgray;
}
.manual li::before {
  content: "" counter(steps);
  counter-increment: steps;
  background-color: #9356dc;
  padding: 4px 8px;
  border-radius: 50%;
  position: relative;
  right: 13px;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.manual li i.fas {
  color: gray;
  margin: 10px 10px;
  font-size: 22px;
  padding: 4px;
}
.manual li i.fas:hover {
  color: #9356dc;
}

.restaurants {
  background-color: #f3f3f3;
  margin-top: 60px;
}
@media screen and (min-width: 992px) {
  .restaurants {
    border-radius: 20px;
  }
}
.restaurants h2 {
  padding-top: 40px;
  margin: 30px;
}
.restaurants__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding: 0 25px 60px 25px;
}
@media screen and (min-width: 992px) {
  .restaurants__list {
    flex-direction: row;
    row-gap: 50px;
    justify-content: space-around;
  }
}
.restaurants__list .news {
  position: relative;
}
.restaurants__list .news::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99e2d0;
  font-size: 18px;
  padding: 8px 12px;
  color: #2a947a;
  font-weight: 500;
  top: 15px;
  right: 15px;
  border-radius: 4px;
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 2px 2px 2px lightgray;
}
@media screen and (min-width: 992px) {
  .restaurants .cards {
    flex-basis: 40%;
  }
}
.restaurants .cards__image {
  min-height: 150px;
  background-size: cover;
  background-position: center;
}
.restaurants .cards__image-1 {
  background-image: url("./assets/restaurants/menu-1.jpg");
}
.restaurants .cards__image-2 {
  background-image: url("./assets/restaurants/menu-2.jpg");
}
.restaurants .cards__image-3 {
  background-image: url("./assets/restaurants/menu-3.jpg");
}
.restaurants .cards__image-4 {
  background-image: url("./assets/restaurants/menu-4.jpg");
}
.restaurants .cards__body {
  position: relative;
}
.restaurants .cards__body h3 {
  padding: 10px 0 5px 0;
}
.restaurants .cards__body p {
  padding-bottom: 10px;
}
.restaurants .cards__body h3,
.restaurants .cards__body p {
  margin-left: 10px;
}
.restaurants .cards__btn::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 1500ms ease-in-out;
}
.restaurants .cards__btn::after {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 1500ms ease-in-out;
  background-image: linear-gradient(180deg, #9356dc, #ff79da);
}
.restaurants .cards__btn:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

.menu-pages header {
  position: initial;
}

.images__meal img {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  object-position: center;
}

.menu-list {
  background-color: #f3f3f3;
  padding: 15px 15px 60px 15px;
  border-radius: 15px 15px 0 0;
  margin-top: -25px;
  position: relative;
}
.menu-list h1 {
  position: relative;
}
.menu-list h1::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 1500ms ease-in-out;
}
.menu-list h1::after {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 1500ms ease-in-out;
  background-image: linear-gradient(180deg, #9356dc, #ff79da);
}
.menu-list h1:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
.menu-list h2 {
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0;
}
@media screen and (min-width: 992px) {
  .menu-list h2 {
    text-align: center;
  }
}

.menu h4 {
  padding-bottom: 5px;
}
.menu p {
  font-size: 12px;
}
.menu h4,
.menu p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.menu__flex {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.menu-item {
  display: flex;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 2px 2px 2px lightgray;
}
.menu-item__content {
  padding: 15px 8px;
  overflow: hidden;
}
.menu-item__price {
  display: flex;
  align-items: flex-end;
  font-weight: 900;
  margin: 10px 20px 10px auto;
}
.menu-item__check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  border-radius: 0 15px 15px 0;
  margin-right: -70px;
  background-color: #99e2d0;
  transition: all 1s;
}
.menu-item__check-box .fas {
  color: white;
  font-size: 26px;
}
.menu-item:hover .menu-item__check-box {
  margin-right: 0;
}
.menu-item:hover .fas {
  animation: spinner 700ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
