@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 200px;
  font-family: $body-font;
}
h1 {
  font-family: $title-font;
}
.container {
  @media #{$large-screen} {
    margin: auto;
    max-width: 1440px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
