.menu-pages {
  header {
    position: initial;
  }
}
.images__meal img {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  object-position: center;
}

.menu-list {
  background-color: $color-grey;
  padding: 15px 15px 60px 15px;
  border-radius: 15px 15px 0 0;
  margin-top: -25px;
  position: relative;

  h1 {
    position: relative;
    @include heart-animation;
  }
  h2 {
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
    @media #{$medium-screen} {
     text-align: center;
      
    }
  }
}
.menu {
  h4 {
    padding-bottom: 5px;
  }
  p {
    font-size: 12px;
  }
  h4,
  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  @media #{$medium-screen} {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  &__flex {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &-item {
    display: flex;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    @include base-shadows;
    &__content {
      padding: 15px 8px;
      overflow: hidden;
    }
    &__price {
      display: flex;
      align-items: flex-end;
      font-weight: 900;
      margin: 10px 20px 10px auto;
    }
    &__check-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      border-radius: 0 15px 15px 0;
      margin-right: -70px;
      background-color: $color-tertiary;
      transition: all 1s;

      .fas {
        color: white;
        font-size: 26px;
      }
    }
    &:hover {
      .menu-item__check-box {
        margin-right: 0;
      }
      .fas {
        animation: spinner 700ms ease-in-out;
      }
    }
  }
}
