.restaurants {
  display: flex;
  flex-direction: column;
  padding: 25px;
  h2 {
    margin: 20px;
  }
  &__cards {
    border: 1px solid blue;
    
    &.cards__image {
      
      img {
        width: inherit;
      }
    }
  }
}
